# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
venv/
env/
.env

# Model files (too large for basic repos)
models_*/

# Matplotlib
.matplotlib/

# Jupyter Notebook
.ipynb_checkpoints

# OS specific
.DS_Store

# PyCharm
.idea/

# Training logs
logs/ 